---
import { Image } from 'astro:assets'

export interface Props {
  jobTitle: string;
  imgSrc: ImageMetadata;
  imgAlt?: string;
  company: string;
  dateFrom: string;
  dateTo: string;
  duration?: string;
  location: string;
}

const {
  jobTitle,
  imgSrc,
  imgAlt,
  company,
  dateFrom,
  dateTo,
  duration,
  location,
} = Astro.props;

const alt = imgAlt ? imgAlt : company;
---

<style>
  img {
    width: 100%;
    max-width: 60px;
  }

  @media screen and (min-width: 768px) {
    img {
      max-width: 100px;
    }
  }
</style>

<div class="grid grid-cols-5 gap-1">
  <div>
    <Image src={imgSrc} alt={alt} />
  </div>
  <div class="col-span-4 pl-4">
    <h3 class="font-bold">{jobTitle}</h3>
    <p>{company}</p>
    <p>{dateFrom} - {dateTo}{duration && " · " + duration}</p>
    <p>{location}</p>
    <slot />
  </div>
</div>
